* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HEADER/NAVIGATION STYLES */
header {
    padding: 30px 35px;
    background-color: #BC5C1C;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 10px solid #3C1F15;
}

header h1 {
    font-weight: bolder;
    font-size: 45px;
    background-color: #F2A78C;
    padding: 10px 10px;
    border: 5px solid #3C1F15;
}

header a {
    text-decoration: none;
    color: #3C1F15;
}

header nav {
    margin: 20px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px 15px;
    font-weight: bold;
    font-size: 2.0vw;
}

header nav ul li a:hover {
    color: #F2A78C;
}
/* Header Style End */

