:root {
    --primary-color: #3c1f15;
    --secondary-color: #bc5c1c;
    --tertiary-color: #f2a78c;
    --fourth-color: #f9d7bd;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--primary-color);
    font-family: sans-serif, Helvetica, Arial,;
    background: var(--fourth-color);
}

/* HEADER/NAVIGATION STYLES */
header {
    padding: 30px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 10px solid var(--primary-color);
}

header h1 {
    font-weight: bolder;
    font-size: 45px;
    text-shadow: 3px 3px var(--secondary-color);
    background-color: var(--tertiary-color  );
    padding: 10px 10px;
    border: 5px solid var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

/*navigation */
header nav {
    margin: 20px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px 15px;
    font-weight: bold;
    font-size: 2.0vw;
}

header nav ul li a:hover {
    color: var(--tertiary-color );
}
/* Header Style End */


/* HERO/JUMBOTRON SECTION */
.hero {
    background-image: url("../images/hero-img-portfolio.JPG");
    height: 700px;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-attachment: relative;
    background-position: 80%;
}

.hero-title {
    font-size: 25px;
}

.hero-title h2 {
    text-align: right;
    color: var(--tertiary-color );
    text-shadow: 2px 2px var(--primary-color);
    position: absolute;
    bottom: 0px;
    right: 15px;
    padding: 5px 15px;
}
/* Hero End */

/* ABOUT ME */
.main {
    display: flex;
    margin: 20px 20px;
    padding: 20px 20px;
    justify-content: space-between;
}

.intro-left, .intro-right {
    display: flex;
}

.intro-right p {
    display: flex;
    flex-wrap: wrap;
    float: right;
    line-height: 1.7;
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    text-align: left;
}

/* Work samples section */
.sample {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.sample .detail h3, h4 {
    color: var(--fourth-color);
    padding-left: 5px;
    text-align: left;
    text-shadow: 2px 2px var(--secondary-color);
}

.detail {
    position: absolute; 
    bottom: 0;
    left: 0;
}
.project-img img {
    height: 150px;
    width: 300px;
    float: right;
    object-fit: cover;
}


.h2-style {
    display: inline;
    text-align: right;
    padding: 20px 20px;
}

.intro-right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    column-gap: 0;
    row-gap: 5px;
    grid-template-columns: auto auto;
    padding: 20px 30px;
    background-color: var(--secondary-color);
    border: 10px solid var(--primary-color);
}

/* CONTACT ME STYLE START */
.intro-right address {
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}

.intro-right address a:hover {
    color: var(--tertiary-color);
}


